.about {
    height: 150dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.malditaimg_about {
    width: 60%;
    height: auto;
    top: 5%;
}

.txt_about {
    font-size:  1rem;
    line-height: 160%;
}

.txt_about::first-letter {
    font-size: 10rem;
    font-family: Wolfsfifth;
    color: var(--magenta);
    border: var(--magenta) solid 2px;
    
}

/*Media Queries*/

/* xs */

@media (min-width: 475px) {
  
}

/* sm */
@media (min-width: 640px) {
  
}

/* md */
@media (min-width: 768px) {
    .about {
        height: 100dvh;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
    }
    .malditaimg_about {
        width: 40%;
    }
  
}

/* lg */
@media (min-width: 1024px) {
  
}

/* xl */
@media (min-width: 1280px) {
  
}

/* 2xl */
@media (min-width: 1536px) {
  
}