.about {
    height: 280dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.malditaimg_about {
    width: 60%;
    height: auto;
    top: 5%;
    border-radius: 5%;
}

.txt_about {
    font-size: 1rem;
    line-height: 160%;
    font-family: Roboto, sans-serif;
    hyphens: manual;
    opacity: 70%;
}
.txt_about p {
    margin: 20px;
}

/*Media Queries*/

/* xs */

@media (min-width: 475px) {
    .about {
        height: 170dvh;
    }
}

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {
    .about {
        height: 120dvh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .malditaimg_about {
        width: 40%;
    }

}

/* lg */
@media (min-width: 1024px) {
    .about {
        height: 100dvh;
    }
}

/* xl */
@media (min-width: 1280px) {
    .about {
        height: 80dvh;
    }

    .txt_about::first-letter {
        
    }
}

/* 2xl */
@media (min-width: 1536px) {}