.powers {
    height: 200dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.powers svg {
    height: auto;
    width: 50%;
    fill: var(--magenta);
}

/*CARDS*/

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
}

.card-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}